<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievement Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/achievement.css">
</head>

<body>
    <div class="body__background"></div>
    <div>
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item">
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>My Achievement</h1>
        </div>
        <div class="main" style="padding: 0 20%;">
            <div class="view-box">
                <div class="veiw-box-item">
                    <div class="detail">
                        <div class="course-name">
                            <h3>MTA: HTML5 Application Development Fundamentals - Certified 2019</h3>
                        </div>
                        <div class="organization">
                           <b>Microsoft</b>
                        </div>
                        <div class="issued-date">
                            Issued on Feb 2019 . No Exprition Date
                        </div>
                        <div class="credential">
                            <a
                                href="https://www.youracclaim.com/badges/2e68a463-e08a-44bc-b2b5-e0c084f6f030/linked_in_profile">
                                Credential Id:</a>
                            <b></b>
                        </div>
                    </div>
                </div>
                <div class="border-line">
                    <hr>
                </div>
                <div class="veiw-box-item">
                    <div class="detail">
                        <div class="course-name">
                            <h3>Programming With C </h3>
                        </div>
                        <div class="organization"><b>Nptel</b></div>
                        <div class="issued-date"> Issued on Jan 2019. No Exprition Date</div>
                        <div class="credential"><a href="">Credential Id:</a>
                            <b></b></div>
                    </div>
                </div>
                <div class="border-line">
                    <hr>
                </div>
                <div class="veiw-box-item">
                    <div class="detail">
                        <div class="course-name">
                            <h3>Java For Android</h3>
                        </div>
                        <div class="organization"><b>Coursera</b></div>
                        <div class="issued-date">Issued Jun 2020. No Expiration Date</div>
                        <div class="credential"><a href="">Credential Id:</a>
                            <b>L5MNRRTEP8RU</b>
                        </div>
                    </div>
                    <div class="border-line">
                        <hr>
                    </div>
                    <div class="veiw-box-item">
                        <div class="detail">
                            <div class="course-name">
                                <h3>Python (Basic) Certificate</h3>
                            </div>
                            <div class="organization"><b>Hackerrank</b></div>
                            <div class="issued-date">Issued Jul 2020.No Expiration Date</div>
                            <div class="credential"><a href="https://www.hackerrank.com/certificates/f4c9aa82d196">
                                    Credential Id:</a>
                                <b>F4C9AA82D196</b>
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <hr>
                    </div>
                    <div class="veiw-box-item">
                        <div class="detail">
                            <div class="course-name">
                                <h3>Python (Basic) Certificate</h3>
                            </div>
                            <div class="organization"><b>Hackerrank</b></div>
                            <div class="issued-date">Issued Jul 2020.No Expiration Date</div>
                            <div class="credential"><a href="https://www.hackerrank.com/certificates/f4c9aa82d196">
                                    Credential Id:</a>
                                <b>F4C9AA82D196</b>
                            </div>
                        </div>
                    </div>
                    <div class="border-line">
                        <hr>
                    </div>
                </div>

</body>

</html>