<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievement Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/achievement.css">
</head>

<body>
    <div class="body__background"></div>
    <div>
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item">
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>My Achievement</h1>
        </div>
        <div class="main" style="padding: 0 20%;">
            <div class="view-box">
                <div class="veiw-box-item">
                    <div class="detail">
                        <div class="title">Html5</div>
                        <div class="desc"></div>
                        <div class="date">jan 27th 2019</div>
                        <div class="certificate">
                            Certificate Link:
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="veiw-box-item">
                    <div class="detail"></div>
                </div>
                <div class="veiw-box-item">
                    <div class="detail"></div></div>
                <div class="veiw-box-item">       <div class="detail"></div></div>
                <div class="veiw-box-item">       <div class="detail"></div></div>
            </div>
        </div>

</body>

</html>