<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/contact.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="body__background"></div>
    <div class="main">
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item">
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div style="padding: 0 20%; ">
            <div class="contact-box message">
                <form method="POST" action="" aria-required="true">
                    <label for="text">Your Name :</label><input type="text" name="name" placeholder="Enter Your Name" >
                    <br>
                    <label for="mail">Your Mail Id:</label><input type="mail" name="mail" placeholder="Enter Your Mail id">
                    <br>
                    <label for="subject">Your Subject:</label><input type="text" name="subject"placeholder="Write your Subject">
                    <br>

                    <label for="text">Your Text</label>
                    <br>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Write Your Message"></textarea>
                    <br>
                    <input type="submit" class="submitbtn" value="Submit">
                </form>

            </div>

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="contact-box">
                            <address>
                                <p>
                                    <img src="/static/assest/dipak.jpg" alt="Avatar" class="avatar">
                                    Dipak Garai
                                </p>
                                <p>
                                    <i class="fa fa-home"></i>Purulia,West Bengal
                                </p>
                                <p>
                                    <i class="fa fa-envelope "></i>Gmail:<a href="mailto:garaidipak1998@gmail.com">garaidipak1998@gmail.com</a>
                                </p>
                                <p>
                                    <i class="fa fa-phone"></i><a href="tel:+918170941542"></a> Contact Number:8170941542
                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <h3 style="color:var(--color-white-1);text-align: center;">Follow Me On Social Media</h3>
                        <div class="social_icons" style="margin-top: 0;">
                            <a href="https://www.linkedin.com/in/dipak-garai-2718b9180/" class="fa fa-linkedin"></a>
                            <a href="https://www.facebook.com/deep.garai.92" class="fa fa-facebook"></a>
                            <a href="https://www.instagram.com/dipak.garai/" class="fa fa-instagram"></a>
                            <a href="https://twitter.com/DipakGarai13" class="fa fa-twitter"></a>
                            <a href="https://github.com/Dipak1998" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>