<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Details</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/education.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="body__background"></div>
    <div class="main">
        <div class="topnavbar">
            <div class="nav_item"><a href="index.html">Home</a></div>
            <div class="nav_item" >
                <a href="skill.html">Skill</a>
            </div>
            <div class="nav_item">
                <a href="education.html">Education</a>
            </div>
            <div class="nav_item">
                <a href="project.html">Project</a>
            </div>
            <div class="nav_item">
                <a href="achievement.html">Achievement</a>
            </div>
            <div class="nav_item">
                <a href="contact.html">Contact</a>
            </div>
        </div>
    </div>
    <div class="heading">
        <h1><u>Eductioal Details</u></h1>
    </div>
    <div style="padding: 0 20%;">
        <div class="edu-detail">
            <div class="edu-item">
                <div class="graduation">
                    <div class="border-line">
                        <hr>
                    </div>
                    <div class="clg">
                        <h3>University Of Engineering And Management Jaipur</h3>
                    </div>
                    <div class="year">
                        <i class="fa fa-calendar"></i>
                        <b>2017 to Present</b>
                    </div>
                    <div class="dept"><b>B.Tech CSE</b></div>
                </div>
            </div>
            <div class="border-line">
                <hr>
            </div>
            <div class="edu-item">
                <div class="higher-secondary">
                    <div class="high-school">
                        <h3>Bankura Christian Collegiate School</h3>
                    </div>
                    <div class="year">
                        <i class="fa fa-calendar"></i>
                        <b>2015 - 2017</b>
                    </div>
                    <div class="dept"><b>12th Board</b></div>
                </div>
            </div>
            <div class="border-line">
                <hr>
            </div>
            <div class="edu-item">
                <div class="secondary">
                    <div class="school">
                        <h3>Jhilimil High School</h3>
                    </div>
                    <div class="year">
                        <i class="fa fa-calendar"></i>
                        <b>2010 - 2015</b>
                    </div>
                    <div class="dept"><b>10th Board</b></div>
                </div>
                <div class="border-line">
                    <hr>
                </div>
            </div>
        </div>
    </div>

</body>

</html>