<html>

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <title>My ProFolio Site</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
</head>

<body>
    
    <div class="body__background"></div>
    <div class="main">
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item" >
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>

        <div class="profile">
            <img src="/static/assest/dipak.jpg" alt="profile_pic" style="opacity:1">
        </div>
        <div class="intro">
            <div class="name">
                <h1>Dipak Garai</h1>
            </div>
            <div class="department">
                <h2>Full Stack Devloper</h2>
            </div>
            <div class="dept_edu">
                <h3>Computer Science Engineer</h3>
            </div>
            <div class="year"><b>2017 to Present</b> </div>
            <!-- <div class="college">
                <b>University of Engineering & Management Jaipur</b>
            </div> -->
        </div>

        <div class="social_icons">
            <a href="https://www.linkedin.com/in/dipak-garai-2718b9180/" class="fa fa-linkedin"></a>
            <a href="https://www.facebook.com/deep.garai.92" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/dipak.garai/" class="fa fa-instagram"></a>
            <a href="https://twitter.com/DipakGarai13" class="fa fa-twitter"></a>
            <a href="https://github.com/Dipak1998" class="fa fa-github"></a>
        </div>

    </div>



</body>

</html>