<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="body__background"></div>
    <div>
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item">
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>My Projects</h1>
        </div>
        <div class="main" style="padding: 0 20%;">
            <div class="view-box">
                <div class="view-box-item">
                    <div class="project-details">
                        <div class="heading">
                            <h3>Online Harving System</h3>
                        </div>
                        <div class="date"><i class="fa fa-calendar"></i> Sept 2018</div>
                        <div class="desc">
                            <p>This project is a IOT based project.In this project
                                we can operate our harvesting system through wifi from anywhere and also checked the
                                soils and air
                                tempature and humidity through the Android Application.</p>
                        </div>
                    </div>
                    <div class="project-show">
                        <h5>Project Link:</h5>
                        <a href="https://www.youtube.com/watch?v=TGDrd2gTrc0">Click Here</a>
                    </div>
                    <div class="border-line">
                        <hr>
                    </div>
                </div>
                <div class="view-box-item">
                    <div class="project-details">
                        <div class="heading">
                            <h3>Online Clinic System</h3>
                        </div>
                        <div class="date"><i class="fa fa-calendar"></i> Jan 2019 - Feb 2019</div>
                        <div class="desc">
                            <p>It is a Online Hospital Service Template UI.
                                It is devlop using Angular,HTML and CSS.</p>
                        </div>
                    </div>
                    <div class="project-show">
                        <h5>Project Link:</h5>
                        <a href="https://drive.google.com/drive/folders/13U0ptg1SlTC5qfEeqnaGa3lRLnpjCSnX">Click Here</a>
                    </div>

                </div>
                <div class="border-line">
                    <hr>
                </div>
               
                <div class="view-box-item"></div>
                <div class="view-box-item"></div>

            </div>
            <div class="show-more">
                <button type="button">Show More</button>
            </div>
        </div>
    </div>
</body>

</html>