<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/static/favicon_io/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/skill.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Skill</title>
</head>

<body>
    <div class="body__background"></div>
    <div>
        <div>
            <div class="topnavbar">
                <div class="nav_item"><a href="index.html">Home</a></div>
                <div class="nav_item">
                    <a href="skill.html">Skill</a>
                </div>
                <div class="nav_item">
                    <a href="education.html">Education</a>
                </div>
                <div class="nav_item">
                    <a href="project.html">Project</a>
                </div>
                <div class="nav_item">
                    <a href="achievement.html">Achievement</a>
                </div>
                <div class="nav_item">
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
        <div class="heading">
            <h1>My Skills</h1>
        </div>
        <div class="main" style="padding: 0 20%;">
            <div class="view-box">
                <div class="view-box-item">
                    <div class="heading">
                        <h2><u>Web Devlopment</u></h2>
                    </div>
                    <div class="skill">
                        <div class="skills">
                            <b>Html</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar" style="width: 75%;"></div>
                                </div>
                            </div>

                        </div>
                        <div class="skills">
                            <b>CSS</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Angular</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>JavaScript</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar" style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>TypeScript</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Django</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar" style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Php</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar" style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-box-item">
                    <div class="heading">
                        <h2><u>Programming Language</u></h2>
                    </div>
                    <div class="skill">
                        <div class="skills">
                            <b>Python</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>C Programming</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>C++ Programming</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"style="width: 75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Java</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar" style="width: 50%;">
                                    </div>
                                </div>
                            </div>
                            <div class="skills">
                                <b>SQL</b>
                                <div class="progreesbar">
                                    <div id="myProgress">
                                        <div id="myBar" style="width: 50%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-box-item">
                    <div class="heading">
                        <h2><u>Language</u></h2>
                    </div>
                    <div class="skill">
                        <div class="skills">
                            <b>English</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Bengali</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills">
                            <b>Hindi</b>
                            <div class="progreesbar">
                                <div id="myProgress">
                                    <div id="myBar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="resume">
            <a href="/static/My Resume.pdf" download="My Resume.pdf">
                <button class="btn"value="Resume"><i class="fa fa-download"></i>Resume</button>
            </a>
            
        </div>
    </div>


</body>

</html>